@model OrderDetailsViewModel

@*TODO: ADD BREADCRUMBS*@
<partial>(name="~/Views/Shared/_OrderDetailsPartial.cshtml" for="OrderDetailsViewModel")</partial>
<h2>@ViewData["Title"]</h2>
<hr />
<p>
    <label asp-for="PizzaName"></label>: @Html.DisplayFor(x => x.PizzaName)
</p>
<p>
    User: @($"Mr/Ms: {Model.UserFullName}")
</p>
<p>
    Payment method: @Model.PaymentMethod
</p>
<p>
    Order price: @Model.Price
</p>
<p>
    @(Model.IsDelivered ? "Delievered" : "Not delievered")
</p>

@*<h4>Pizza name: @Model.PizzaName</h4>
<h4>User full name: @Model.UserFullName</h4>
<h4>Order payment method: @Model.PaymentMethod</h4>
<h4>Price: @Model.Price USD</h4>
@{if(Model.IsDelivered){
    <h4>Your order has been delivered</h4>
}}
@{if(!Model.IsDelivered){
    <h4>Your order has not been delivered yet.</h4>
}}*@

<a class="btn-primary" asp-action="Index">Back to orders</a>

<a class="btn-success" asp-action="Index" asp-controller="Home">Back to home</a>