@model List<OrderListViewModel>

    <h2>@ViewData["Title"]</h2>

@{
    int count = 1;
}
@foreach (var order in Model)
{
    <p>
        <a asp-action="Details" asp-controller="Order" asp-route-id="@count">
            <span>@(count++). </span>
        </a>@order.PizzaName | Ordered by: @order.UserFullName
        <span> <a class=" btn btn-danger" asp-action="Delete" asp-route-id="@count">Delete</a></span>
    </p>
    @(count++);

}

    <h4>@ViewData["Message"]</h4>
    <h5>@ViewData["FirstUser"]</h5>