@model List<DetailsViewModel>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["TotalOrders"]</h3>
@{
    @foreach (var order in Model)
    {
        <p>User name: @order.UserName</p>
        <ul>Burgers orderded:</ul>
            @foreach (var burger in order.Burgers)
            {
                <li>Burger name: @burger.Key.Name. Quantity: @burger.Value</li>
            }
        <p>Total price: @order.TotalPrice</p>

        <a class="btn btn-warning" asp-action="Details" asp-route-id="@order.OrderId">More details</a>
    }

}