@model List<DetailsViewModel>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["TotalOrders"]</h3>
@{
    @foreach (var order in Model)
    {
        <p style="font-weight:700">User name: @order.UserName</p>
        <ul style="font-weight:600">Burgers orderded:</ul>
            @foreach (var burger in order.Burgers)
            {
                <li>Burger name: @burger.Key.Name. Quantity: @burger.Value</li>
            }
        <p style="font-weight:600">Total price: @order.TotalPrice</p>

        <a class="btn btn-warning" asp-action="Details" asp-route-id="@order.OrderId">More details</a>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@order.OrderId">Edit order</a>
        <br />
        <hr />
    }

}